main {
    section {
        position: relative;
        width: 100%;
        height: 600px;

        header {
            margin-bottom: 50px;
        }

        &:nth-child(odd) {
            background-color: $cp-5;
        }
        &:nth-child(even) {
            background-color: transparent;
        }

        &:last-child {
            background-color: $cp-1;
        }

        @media (max-width: $screen-sm-min) {
            height: auto;
        }
    }
}
